mh/META-INF/wsdl/distribute.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://distribute.ws.xjj.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DistributeService"
	targetNamespace="http://distribute.ws.xjj.com/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://distribute.ws.xjj.com/">
			<xsd:element name="orgDistribute" type="tns:orgDistribute" />
			<xsd:element name="orgDistributeResponse" type="tns:orgDistributeResponse" />
			<xsd:element name="userDistribute" type="tns:userDistribute" />
			<xsd:element name="userDistributeResponse" type="tns:userDistributeResponse" />
			<xsd:complexType name="orgDistribute">
				<xsd:sequence>
					<xsd:element name="arg0" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="orgDistributeResponse">
				<xsd:sequence>
					<xsd:element name="return" type="xsd:boolean" />
				</xsd:sequence>			
			</xsd:complexType>
			<xsd:complexType name="userDistribute">
				<xsd:sequence>
					<xsd:element name="arg0" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="userDistributeResponse">
				<xsd:sequence>
					<xsd:element name="return" type="xsd:boolean" />
				</xsd:sequence>			
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="orgDistribute">
		<wsdl:part element="tns:orgDistribute" name="parameters" />
	</wsdl:message>
	<wsdl:message name="orgDistributeResponse">
		<wsdl:part element="tns:orgDistributeResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="userDistribute">
		<wsdl:part element="tns:userDistribute" name="parameters" />
	</wsdl:message>
	<wsdl:message name="userDistributeResponse">
		<wsdl:part element="tns:userDistributeResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="distribute">
		<wsdl:operation name="orgDistribute">
			<wsdl:input message="tns:orgDistribute" />
			<wsdl:output message="tns:orgDistributeResponse" />
		</wsdl:operation>
		<wsdl:operation name="userDistribute">
			<wsdl:input message="tns:userDistribute" />
			<wsdl:output message="tns:userDistributeResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="distributeSOAP" type="tns:distribute">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="orgDistribute">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="userDistribute">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DistributeService">
		<wsdl:port binding="tns:distributeSOAP" name="DistributeServicePort">
			<soap:address location="http://192.168.0.117:91/jaxws/distribute" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
